*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width:750px) {
  .root{
    flex-direction: row;
  }
}
.leftnav{
  background-color: pink;
  width: 200px;
}
.leftnav h1{
  color:#fff;
  text-align: center;
  line-height: 2.6;
  font-size: 24px;
  border-bottom: 1px solid #f378b1;
}
.leftnav a{
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.3;
  padding-left: 20px;
  color:#800a41;
}
.leftnav a:hover{
  background-color: rgba(0,0,0,0.3);
}
header{
  height: 80px;
  display: flex;
  align-items: center;
  background-color: pink;
  justify-content: space-between;
  padding: 0 15px;
}
header h3{
  color:#fff;
}
footer{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: pink;
}
footer a{
  border-right: 1px solid #eee;
  text-decoration: none;
  color:#800a41;
  flex-grow: 1;
}
footer a:last-child{
  border: none;
}
.mywrap{
  flex-grow: 1;
  overflow-y: scroll;
  display:flex;
}
.home{
  width: 100%;
  background-image: url(images/psbe.jpeg);
  background-size: cover;
  background-position: 35% 50%;
}
.home-cover{
  height: 100%;
  background-color:rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-cover h1{
  color: deeppink;
  text-shadow: 0px 0px 2px pink;
}
.home-cover p{
  margin-top: 25px;
  margin-bottom: 25px;
  color: #cebcc5;
}
.home-cover a{
  text-decoration: none;
  color:#c10d61;
  display: block;
  width: 9em;
  line-height: 2.8;
  margin: 0 auto;
  border-right: 8px;
  background-color: #c590a9;
  box-shadow: 0px 0px 2px 3px pink;
}
.card{
  width: 96%;
  margin: 0 auto;
  border: 1px solid #eee;
  padding:15px 15px;
  border-radius: 8px;
}
.blog-index{
  color:#d3cccf;
  background-color: #f378b1;
  text-align: center;
  line-height: 2.4;
}
.blog-desc{
  padding-left: 10px;
}
.blog-desc h2{
  color:#e53989;
}
.blog-desc p{
  font-size: 14px;
  color:#f0b6d1;
  opacity: 0.8;
}
.blog-desc a{
  text-decoration: none;
  display: block;
  padding: 5px 5px;
  width: 5em;
  border-radius: 10px;
  line-height: 14px;
  text-align: center;
  font-size: 14px;
  color:#e1c7d3;
  margin-top: 10px;
  background-color: #be829e;
}
.blog-desc span{
  float: right;
  color:#97275b;
}
